html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(193, 159, 75);
    color: white;
    text-align: center;
}

.recipe-list-element {
    list-style-type: square;
    padding: 6px;
    font-size: 26px;
}

img {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h2 {
    display:inline-block;
    background-color: rgb(175, 130, 92);
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

.ingredients-ulist,
li,
p {
    font-size: 22px;
}

.ingredients-ulist li {
    padding: 4px 4px 4px 4px;
}

p {
    text-align: justify;
}

/* Navigation Bar */
nav {
    border-style: none;
    border-color: black;
    background-color: rgb(47, 97, 171);
    width: 1820px;
    height: 100px;
    margin-bottom: 60px;
}

.site-logo-navbar {
    display: inline-block;
    width: 300px;   
    height: 80px;
    background-color: rgb(47, 97, 171);
    color: white;
    font-size: 40px;
    border-style: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px; 
    padding: 20px;  
}

.nav-ul {
    display: inline-block;
    border-style: none;
    width: 280px;
    height: 50px;
    list-style-type: none;
    margin-left: 1150px;
    margin-bottom: 20px; 
    padding: 0px;
} 

.nav-ul li {
    display: inline-block; 
    color: white;
    border-style: none;
    font-size: 25px;
    margin: 10px 25px;
}  
/* Nav Bar End */

/* Cards */
.recipe-card {
    border: 2px solid black;
    border-radius: 15px;
    width: 650px;
    height: 250px;
    margin-left: 40px;
    margin-bottom: 30px;
}

/* Title */
.recipe-card h3 {
    height: 40px;
    font-size: 20px;
    background-color: #ee6c4d;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 6px;
    margin-top: 0px;
}

/* Title link */
.card-title a:link, .card-title a:visited,
.card-title a:hover, .card-title a:active {
    text-decoration: none;
    color: white;
}

.card-title a:hover {
    color: rgb(219, 219, 219);
}
/* Title link End */

/* Body */
.card-text-preview {
    font-size: 20px;
    padding-left: 8px;
}

/* Cards End */