body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* index.html */
h1 {
    background-color: rgb(193, 159, 75);
    color: white;
    text-align: center;
}

.recipe-list-element {
    list-style-type: square;
    padding: 6px;
    font-size: 26px;
}
/* End of index.html css */

img {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 24px;
}

/* herby ricotta */
h2 {
    display:inline-block;
    background-color: rgb(175, 130, 92);
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

p {
    font-size: 22px;
    text-align: justify;
}

.ingredients-ulist li {
    font-size: 22px;
    padding: 4px 4px 4px 4px;
}
/* End of herby-ricotta css */

li {
    font-size: 22px;
}